{% import "pagination.html" as pagination %}

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  #️⃣ {{ term.name }}
</h1>

<div class="post-list">
  <ul class="title-list">
    {% for p in paginator.pages %}
    <li>
      {% if p.date | date(format="%s") | int > now() | date(format="%s") | int - 432000 %}
      <span class="badge-new">NEW</span>
      {% endif %}
      <a href="{{ p.permalink }}">{{ p.title }}</a>
    </li>
    {% endfor %}
</div>

{{ pagination::render(paginator=paginator) }}
{% endblock content %}

{% block side %}
<p>
  <code># {{ term.name }}</code> 标签下共有 <code>{{ term.page_count }}</code> 条内容。
</p>
<p>
  #️⃣ <a href="/tags">查看所有标签</a>
</p>
{% endblock side %}