<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcdn.net/ajax/libs/pure/3.0.0/pure-min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/pure/3.0.0/grids-responsive-min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) }}">
    <title>404 | {{ config.title }}</title>
</head>

<body>
    <div class="main">
        <div class="content">
            <h1>404 Not Found</h1>
            <p>抱歉，您访问的页面不存在。</p>
            <a href="/">🔗 返回首页</a>
        </div>
    </div>

<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "7cb768824eff4d8ab70dd33b58e439ea"}'></script><!-- End Cloudflare Web Analytics -->
</body>

<!-- Generated: {{ now() | date(format="%Y/%m/%d %H:%M") | safe }} -->
<!-- Version: s5LsMh8Iz53NFRQM -->

</html>