<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="/style.css">
    <title>{{ config.title }}</title>
</head>
<body>
    <div class="main flex three">
        <div class="side">{% block side %}{% endblock side %}</div>
        <div class="content two-third">{% block content %}{% endblock content %}</div>
    </div>
</body>
</html>