{% import "pagination.html" as pagination %}

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  🌠 {{ section.title }}
</h1>

<div class="post-list">
  <ul class="title-list">
    {% for p in paginator.pages %}
    <li>
      {% if p.date | date(format="%s") | int > now() | date(format="%s") | int - 432000 %}
      <span class="badge-new">NEW</span>
      {% endif %}
      <a href="{{ p.permalink }}">{{ p.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

{{ pagination::render(paginator=paginator) }}
{% endblock content %}

{% block side %}
<p class="about">
  <strong>『 豆姐国外主机资讯 』</strong>是一个由AI驱动的主机信息聚合网站。网站内容采集于互助网，仅供参考，不构成购买建议。
</p>
<div class="last-updated" title="页面生成：{{ now() | date(format=" %Y/%m/%d %H:%M") }}">
  最后更新：{{ now() | date(format="%Y/%m/%d")}}
</div>
{% endblock side %}