{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
<span class="only-mobile mobile-date">
  {% if page.date %}
  <strong>发布：</strong>{{ page.date | date | date(format="%Y/%m/%d")}}
  {% endif %}
  &nbsp;&nbsp;
  {% if page.extra.src %}
  <a href="{{ page.extra.src }}"><strong>🌐原文链接</strong></a>
  {% endif %}
</span>

{{ page.content | safe }}
{% endblock content %}

{% block side2 %}
{% if page.extra.src %}
<div class="only-desktop">
  <h3>🌐 原文链接</h3>
  <a href="{{ page.extra.src }}">{{ page.extra.raw_title }}</a>
  {% if page.extra.provider %}
  <span class="provider"><a href="/tags/{{ page.extra.provider | lower }}">@{{ page.extra.provider }}</a></span>
  {% endif %}
</div>
{% endif %}

<h3 class="only-desktop">🤖 赛博评论</h3>

<div class="mjj-comments">
  <img src="/vpstalk.jpg" alt="meme" class="pure-img comment-avatar only-desktop">
  <!-- AI Comments, only get the first 3 comments -->
  {% if page.extra.ai_comments %}
  {% for comment in page.extra.ai_comments | slice(end=4) %}
  <div class="mjj-comment" data-num="{{ loop.index }}">
    <span class="comment-user" title="{{ comment.character }}">🕵 {{ comment.fakeid }}</span>
    <div class="comment-content">
      {{ comment.comment }}
    </div>
  </div>
  {% endfor %}
  {% endif %}
  {% if page.extra.mock %}
  <div class="mjj-comment">
    <span class="comment-user">👩 豆姐</span>
    <div class="comment-content">
      {{ page.extra.mock }}
    </div>
  </div>
  {% endif %}
</div>

{% if page.date %}
<div class="last-updated only-desktop" title="页面生成：{{ now() | date(format=" %Y/%m/%d %H:%M") }}">
  发布时间：{{ page.date | date | date(format="%Y/%m/%d")}}
</div>
{% endif %}

{% endblock side2 %}