{% import "pagination.html" as pagination %}

{% extends "base.html" %}

{% block content %}
<h1 class="title only-desktop">
  🌠 最新主机促销信息
</h1>

<div class="post-list">
  <ul class="title-list">
    {% for p in paginator.pages %}
    <li>
      {% if p.date | date(format="%s") | int > now() | date(format="%s") | int - 432000 %}
      <span class="badge-new">NEW</span>
      {% endif %}
      <a href="{{ p.permalink }}">{{ p.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

{{ pagination::render(paginator=paginator) }}
{% endblock content %}

{% block side %}
<p class="about">
  <strong>『 豆姐国外主机资讯 』</strong>是一个由AI驱动的主机信息聚合网站。网站内容采集于互助网，仅供参考，不构成购买建议。
</p>
<div class="aff-container bold-text" style="margin-bottom: 0;">
  <img src="/tg-logo.png" alt="telegram" width="20" height="20" class="pure-img">&nbsp;
  TG 频道：<a href="https://t.me/cn_let_bot" target="_blank">t.me/cn_let_bot</a>
</div>
<div class="aff-container bold-text" style="margin-top: 0;">
  📧 联系邮箱：<code>vps@y2b.cc</code>
</div>
<div class="aff-container">
  <a href="https://my.racknerd.com/aff.php?aff=18811"><img src="https://racknerd.com/banners/320x100.gif" alt="RackNerd Large Mobile Banner" width="320" height="100" class="pure-img"></a>
</div>
<div class="aff-container">
  <a href="https://bandwagonhost.com/aff.php?aff=20021&pid=87"><img src="/logo4.png" alt="BandwagonHost" width="285" height="32" class="pure-img"></a>
</div>
<div class="last-updated" title="页面生成：{{ now() | date(format=" %Y/%m/%d %H:%M") }}">
  最后更新：{{ now() | date(format="%Y/%m/%d")}}
</div>
{% endblock side %}